/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import "./common/noe.less";

/* You can override the default Infima variables here. */
:root {
  // General text font
  --ifm-font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

  // Global colors
  --ifm-color-primary: @noe-bg;
  --ifm-color-primary-dark: darken(@noe-primary, 4%);
  --ifm-color-primary-darker: darken(@noe-primary, 12%);
  --ifm-color-primary-darkest: darken(@noe-primary, 20%);
  --ifm-color-primary-light: lighten(@noe-primary, 4%);
  --ifm-color-primary-lighter: lighten(@noe-primary, 12%);
  --ifm-color-primary-lightest: lighten(@noe-primary, 20%);
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  // Components colors
  --ifm-link-color: var(--ifm-color-primary-dark);
  --ifm-navbar-background-color: @noe-bg;
  --ifm-navbar-link-color: var(--ifm-color-white);
  --ifm-navbar-link-hover-color: var(--ifm-color-primary-lightest);
  --ifm-footer-link-hover-color: var(--ifm-color-primary-lightest);

  // Border radius <3
  --ifm-global-radius: 10px;
  --ifm-card-border-radius: 10px;
  --ifm-button-border-radius: 500px;
}

.footer--dark {
  --ifm-footer-background-color: @noe-bg;
}

// Welcome page hero header
.hero--primary {
  background: var(--noe-gradient);
}

// Darker color on button primary hover
.button:where(.button--primary):not(.button--outline):hover {
  --ifm-button-background-color: var(--ifm-color-primary-darkest);
  --ifm-button-border-color: var(--ifm-color-primary-darkest);
}

// Navbar
.navbar {
  //Mobile sidebar
  &-sidebar {
    // Keep all the sidebar blank...
    background: white;
    &__brand {
      // ...Except the header
      background: @noe-bg;
    }
  }

  // Mobile menu button: keep it white
  .navbar__toggle {
    color: white;
  }

  // Gitlab icon in the navbar
  .header-gitlab-link.navbar__link {
    // Display the Gitlab Icon next to the GitLab text
    background: url(/static/gitlab-logo.svg) no-repeat;
    content: "";
    display: flex;
    align-items: center;
    padding-left: 33px;

    // Grey out on hover
    &:hover {
      opacity: 0.8;
    }
    // Fide the default link icon
    & svg {
      display: none;
    }
  }
}
