@import "media-queries";

/**** MISCELLANEOUS ****/

// Collapse timescale in mobile mode
.Layout-timeScaleContainer {
  @media @below-md {
    width: 50px !important;
  }
}

// Allow text to be put on more lines in appointment cards
.appointment-text-wrap > div > div > div {
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* Opacity on hover appointments */
.max-opacity-on-hover:hover {
  opacity: 1 !important;
}

/**** AVAILABILITY DISPLAY ****/

:root {
  --project-disabled-color: rgba(0, 0, 0, 0.07);
  --project-darker-disabled-color: rgba(0, 0, 0, 0.55);
  --places-disabled-color: rgba(255, 0, 0, 0.15);
  --places-darker-disabled-color: rgba(200, 0, 0, 0.55);
  --stewards-disabled-color: rgba(0, 0, 255, 0.17);
  --stewards-darker-disabled-color: rgba(0, 0, 255, 0.55);
}

.project-disabled-date {
  background: var(--project-disabled-color);
}

.places-disabled-date {
  background-image: repeating-linear-gradient(
    to left top,
    transparent,
    transparent 25%,
    var(--places-disabled-color) 25%,
    var(--places-disabled-color) 50%
  );
}

.stewards-disabled-date {
  background-image: repeating-linear-gradient(
    to left top,
    transparent,
    transparent 25%,
    var(--stewards-disabled-color) 25%,
    var(--stewards-disabled-color) 50%
  );
}

.project-places-disabled-date {
  background-image: repeating-linear-gradient(
    to left top,
    var(--project-disabled-color),
    var(--project-disabled-color) 25%,
    var(--places-disabled-color) 25%,
    var(--places-disabled-color) 50%
  );
}

.project-stewards-disabled-date {
  background-image: repeating-linear-gradient(
    to left top,
    var(--project-disabled-color),
    var(--project-disabled-color) 25%,
    var(--stewards-disabled-color) 25%,
    var(--stewards-disabled-color) 50%
  );
}

.stewards-places-disabled-date,
.places-stewards-disabled-date {
  background-image: repeating-linear-gradient(
    to left top,
    transparent,
    transparent 25%,
    var(--places-disabled-color) 25%,
    var(--places-disabled-color) 37.5%,
    var(--stewards-disabled-color) 37.5%,
    var(--stewards-disabled-color) 50%
  );
}

.project-stewards-places-disabled-date,
.project-places-stewards-disabled-date {
  background-image: repeating-linear-gradient(
    to left top,
    var(--project-disabled-color),
    var(--project-disabled-color) 25%,
    var(--places-disabled-color) 25%,
    var(--places-disabled-color) 37.5%,
    var(--stewards-disabled-color) 37.5%,
    var(--stewards-disabled-color) 50%
  );
}

.grouping-button.ant-tag-checkable-checked {
  color: unset;
}

/* Ant tag agenda grouping buttons colors */

.places-grouping.ant-tag-checkable:not(.ant-tag-checkable-checked):hover {
  color: var(--places-darker-disabled-color);
}

.places-grouping.ant-tag-checkable-checked,
.places-grouping.ant-tag-checkable:active {
  background-color: var(--places-disabled-color);
}

.stewards-grouping.ant-tag-checkable:not(.ant-tag-checkable-checked):hover {
  color: var(--stewards-darker-disabled-color);
}

.stewards-grouping.ant-tag-checkable-checked,
.stewards-grouping.ant-tag-checkable:active {
  background-color: var(--stewards-disabled-color);
}

.category-grouping.ant-tag-checkable:not(.ant-tag-checkable-checked):hover {
  color: var(--project-darker-disabled-color);
}

.category-grouping.ant-tag-checkable-checked,
.category-grouping.ant-tag-checkable:active {
  background-color: var(--project-darker-disabled-color);
  color: #fff;
}
