/*** SPINNER ***/

.spin {
  width: 130px;
  height: 130px;
  animation: spin 1.5s cubic-bezier(0.6, 0.15, 0.6, 0.85) infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*** FADE IN ***/

.fade-in {
  animation: fade-in 0.7s ease-out both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-from-bottom-left {
  animation: fade-in-from-bottom-left 0.8s ease-out both;
}

@keyframes fade-in-from-bottom-left {
  0% {
    transform: translate(-60px, 60px);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

/*** FADE OUT ***/

.fade-out {
  animation: fade-out 0.7s ease-in both;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    height: initial;
  }
  100% {
    // Need to reduce height to prevent the element to overlay the rest of the page.
    // There is no way to toggle display = none with animations.
    height: 0;
  }
}

/*** BOUNCE IN ***/

.bounce-in {
  animation: bounceIn 0.55s ease-in-out both;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.97);
  }
  50% {
    transform: scale(1.02);
  }
  80% {
    opacity: 0.9;
    transform: scale(0.99);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.bounce-in-strong {
  animation: bounceInStrong 0.55s ease-in-out both;
}

@keyframes bounceInStrong {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.07);
  }
  80% {
    opacity: 0.9;
    transform: scale(0.96);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
