@import "noe";

/*** WINDOWS / LINUX COMPATIBILITY ***/

/*** Ant font display Fixes between Windows and Linux browsing ***/
/* in headers */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: unset;
}

/* in tabs headers */
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  font-weight: unset;
}

/**** DATE SELECTION PANEL ****/

.date-picker-panel td:not(.ant-picker-cell-selected) {
  &:not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end) > * {
    padding: 0 14px;
    max-width: 36px;
  }

  &:not(.ant-picker-cell-in-range) {
    &:not([class*="ant-picker-cell-range-"]) > .disabled-date {
      background: #f5f5f5;
      color: rgba(0, 0, 0, 0.25);
    }

    &:not([class*="ant-picker-cell-range-"]):hover > .disabled-date {
      background: #d5d5d5;
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

/*** ANTD BUGS ****/

// Cropped displayed value in DatePicker
.ant-picker .ant-picker-input > input {
  border-radius: 0;
}

/**** views ****/

/* Bold labels and bold table headers */
.ant-form-item-label {
  font-weight: bold;
}

///* prevents AntDesign from displaying badly form elements in mobile mode */
//.ant-form .ant-form-item {
//  display: unset !important;
//}

/********* FORM ITEMS ************/

/*** Input icons ***/

.ant-select-arrow,
.ant-input-number-handler-up-inner,
.ant-input-number-handler-down-inner,
.anticon-swap-right {
  color: rgba(0, 0, 0, 0.9) !important; /* set the color of the icons so it's more visible*/
}

/*** Border of all input fields ***/

[class^="ant-"][class*="-borderless"],
.carousel-arrow-button,
.quill {
  border: solid transparent 1px !important;
  transition: all 0.3s, height 0s;
}

// Borders on focus
[class^="ant-"][class*="-borderless"]:not([class*="-disabled"]):not([readonly]),
.quill {
  &:hover,
  &:focus,
  &:active,
  &:focus-within {
    border: solid 1px #40a9ff !important;
  }

  // Wrapped inputs should not have borders (for password inputs or inputs with prefix/suffix)
  & > input {
    &:hover,
    &:focus,
    &:active,
    &:focus-within {
      border: solid 1px transparent !important;
    }
  }
}

// Fix no border radius for select fields
.ant-select.ant-select-borderless {
  border-radius: @borderRadius;
}

/*** session drawer in agenda view ***/
.session-preview-drawer .ant-drawer-body {
  border-radius: 30px 30px 0 0 !important;
  overflow: visible;
  background-color: white;
}

.session-preview-drawer .ant-drawer-content {
  background: transparent !important;
}

.session-preview-drawer .ant-drawer-header {
  position: sticky !important;
  top: 15px;
  height: 0 !important;
  padding: 0 !important;
  margin: 15px 0 -15px 0 !important;
  background: transparent;
  z-index: 1;
}

/*** carousel ***/
.carousel-arrow-button {
  display: block !important;
  color: black !important;
  border: 1px solid #d9d9d9 !important;
  background: white !important;
  min-width: 40px;
  z-index: 1;
  min-height: 40px;
}

.carousel-arrow-button:hover {
  border: solid 1px #40a9ff !important;
  transform: scale(1.2);
}

.carousel-arrow-button svg {
  vertical-align: middle;
}

.carousel-container {
  margin: -5px 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.carousel-container > * {
  margin: 5px 30px;
}

/* Steps in mobile view */
.ant-steps-vertical > .ant-steps-item .ant-steps-item-content {
  min-height: unset;
}

/** danger rows in table */
.ant-table-tbody > tr.ant-table-row-danger > td {
  background: #fff5f5;
  border-color: rgba(0, 0, 0, 0.03);
  font-style: italic !important;
  color: darkred;
}

/** updated rows in table */
.ant-table-tbody > tr.ant-table-row-updated > td {
  background: #f3fff3;
  border-color: rgba(0, 0, 0, 0.03);
}

/* small pagination footer in tables */
.ant-table-pagination.ant-pagination {
  margin: 10px 0;
}

/*** social icons ***/
.social-icons-container .anticon {
  color: white;
  opacity: 0.6;
  transition: opacity 0.4s ease-in-out;
}

.social-icons-container .anticon:hover {
  opacity: 1;
}

/* Make select content appear on multiple lines if needed */
.ant-select-item-option-content {
  white-space: break-spaces;
  word-break: break-word;
}

/* Increase font size of the Agenda/List switcher in inscription-front */
#view-mode-changer-select .ant-segmented-item-label {
  font-size: 19px;
}
