/***************************************/
/*              IMPORTS                */
/***************************************/

/**** OTHER FILES ****/
@import "formio";
@import "media-queries";
@import "animations";
@import "ant";
@import "layout";
@import "agenda";
@import "quill-editor";

/**** BOOTSTRAP ****/

@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css);

// Remove Bootstrap's big ugly border around clicked buttons
button:focus,
button:active {
  outline: none !important;
}

/*** Fix icons not vertically aligned ***/
svg {
  vertical-align: unset;
}

/**** CUSTOM NOE COLORS AND FONTS ****/

@import "./noe.less";

/***************************************/
/*           SIDEBAR MENU              */
/***************************************/

// Add transitions necessary for menu items to work smoothly
.ant-menu-item {
  transition: box-shadow 0.5s, border-color 0.5s, background 0.5s,
    padding 0.15s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}

// Background of the sidebar
.ant-menu-root {
  background: var(--noe-bg) !important;
}

// Selected elements : make a NOÉ gradient, made with background-color
// and inset bow-shadow (yeah that's the trick)
.ant-menu-item.ant-menu-item-selected:not(.ant-menu-item-danger) {
  background: var(--noe-accent-1-85) !important;
  box-shadow: -210px 0 100px -100px var(--noe-accent-2-85) inset !important;
}

// Create the appropriate container for the sidebar
.sidebar-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  height: 100%;
}

.sidebar-container > *:not([class="sidebar-footer"]) {
  flex-grow: 1;
}

/***************************************/
/*           OTHER TWEAKS              */
/***************************************/

/*** BUTTONS ***/

// TODO Colors legacy
@warning-color: #faad14;
@success-color: #52c41a;

.button-variant-primary(@color) {
  background-color: @color;
  box-shadow: 0 2px 0 rgba(lighten(@color, 20%), 10%);
  &:not(:disabled) {
    &:hover {
      background-color: lighten(@color, 10%);
    }
    &:focus,
    &:active {
      background-color: darken(@color, 10%);
    }
  }
}
.success-button {
  .button-variant-primary(@success-color);
}

.warning-button {
  .button-variant-primary(@warning-color);
}

/*** STICKY STUFF µ**/

.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 50;
  background: white;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out,
    -moz-box-shadow 0.3s ease-in-out;
}

.sticking-shadow-top {
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1), 0 10px 10px 9px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1), 0 10px 10px 9px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1), 0 10px 10px 9px rgba(0, 0, 0, 0.04);
  border-bottom: 1px solid #ddd;
}

.sticking-shadow-bottom {
  box-shadow: 0 -2px 5px 2px rgba(0, 0, 0, 0.1), 0 10px 10px 9px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0 -2px 5px 2px rgba(0, 0, 0, 0.1), 0 10px 10px 9px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 -2px 5px 2px rgba(0, 0, 0, 0.1), 0 10px 10px 9px rgba(0, 0, 0, 0.04);
  border-top: 1px solid #ddd;
}

/**** MOBILE NAVBAR ****/

.mobile-navbar-container {
  padding: 0 30pt;
  line-height: unset !important;
  height: 50px !important;
  z-index: 101;
  @media @md-and-more {
    display: none;
  }
}

.navbar-menu-button {
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 102;
  @media @md-and-more {
    display: none;
  }
}

.ant-layout-sider {
  @media @below-md {
    display: none;
  }
}
.mobile-sidebar-drawer {
  @media @md-and-more {
    display: none;
  }
}

/**** MISCELLANEOUS ****/

/*** When printing an image of NOÉ, tell to print everything, including background graphic, etc. ***/
* {
  -webkit-print-color-adjust: exact;
}
