@import url(https://unpkg.com/formiojs@latest/dist/formio.full.min.css);

@import "noe";

// FORMIO TWEAKS to make it look like the rest of the app

.border {
  border-color: @borderColor;
  border-radius: @borderRadius;
}

.col-form-label {
  font-weight: bold;
}

.form-control {
  border-radius: @borderRadius;
}
