/***************************************/
/*     CUSTOMIZE COLORS AND FONTS      */
/***************************************/

/**** COLOR DEFINITIONS ****/

@noe-bg: #000a2e;
@noe-primary: #3775e1;
@noe-accent-1: #000bff;
@noe-accent-2: #7fffbb;

html {
  --noe-bg: @noe-bg;
  --noe-primary: @noe-primary;
  --noe-accent-1: @noe-accent-1;
  --noe-accent-2: @noe-accent-2;
  --noe-accent-1-90: mix(@noe-accent-1, @noe-accent-2, 90%);
  --noe-accent-1-85: mix(@noe-accent-1, @noe-accent-2, 85%);
  --noe-accent-2-85: mix(@noe-accent-2, @noe-accent-1, 85%);
  --noe-gradient: linear-gradient(135deg, var(--noe-accent-1-90), 40%, var(--noe-accent-2));
}

// Utility for displaying a NOE background
.bg-noe-gradient {
  background: linear-gradient(135deg, var(--noe-accent-1-90), 40%, var(--noe-accent-2));
}

.bg-noe {
  background: var(--noe-bg);
}

/*** TITLE FONT DEFINITION ****/

// Import the Google fonts stored locally

/* latin-ext */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(fonts/JosefinSansLatinExt.woff2) format("woff2");
  //src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_ArQbMhhLzTs.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(fonts/JosefinSansLatin.woff2) format("woff2");
  //src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_ArQbMZhLw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", Arial, sans-serif;
}

/**** GLOBAL THEME DEFINITIONS ****/
@borderRadius: 10px;
@borderColor: #e7e7e7;
