@import "noe";

.ql-snow {
  // no border for the box container
  &.ql-container {
    border: none;
    /* remove font size et to 13px instead of 14px */
    font-size: unset;
  }

  // TOOLBAR
  &.ql-toolbar {
    border-color: #d9d9d9;
    border-radius: 11px;
    opacity: 0;
    max-height: 0;
    padding: 0;
    margin: 0;
    transition: all 0.3s, height 1s;

    /* show full opacity for the toolbar when in focus */
    .quill:focus-within & {
      max-height: 200px;
      padding: 4px 6px;
      margin: 3px 3px 6px 3px;
      opacity: 1;
    }

    // toolbar buttons hover color
    & button,
    & .ql-picker-label,
    & .ql-picker-item {
      &:hover,
      &:focus,
      &.ql-active,
      &.ql-selected {
        color: @noe-primary !important;
      }
    }
  }
}

.ql-editor {
  // same padding as all other AntDesign fields when editable, otherwise no padding at all
  padding: 4px 11px;

  // Except in readonly mode
  &.ql-editor-readonly {
    padding: 0;
    /* in readonly mode, cut the last element bottom margin that is useless */
    & > *:last-child {
      margin-bottom: 0;
    }
  }
}

/* border radius around the whole editor (see also borders in ant.css) */
.quill {
  border-radius: @borderRadius;

  /* placeholder */
  & > .ql-container > .ql-editor.ql-blank::before {
    color: #bfbfbf;
    left: 11px; /* padding for placeholder */
    font-style: unset;
  }
}
